.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**
!**/src/test/**
*.class
*.jar
*.war
*.log
.idea/
*.iml
*.ipr
*.iws
.settings/
.project
.classpath
.vscode/
bin/
out/
.env
**/application-local.yml
*.md
!README.md
